doctype html
html
  head
    meta(charset='utf-8')
    title Абстрактная веб-студия
    link(rel='stylesheet', href='#{staticRoot}/css/main.css')
  body
    header
      img(src='#{staticRoot}/img/logo.svg')
      h1 Абстрактная веб-студия
    aside
      nav
        a(href='#{root}/') О нас
        a(href='#{root}/projects.html') Проекты
        a(href='#{root}/contacts.html') Контакты
    article
      block main
    footer
      p 2014 &copy; Абстрактная веб-студия